# Ignore configuration files that may contain sensitive information.
www/sites/*/settings*.php

# Ignore paths that contain user-generated content.
www/sites/*/files
www/sites/*/private

# Linux compatibility with some disks
www/D:/

# Ignore custom configuration
www/sites/default/settings.php

# Ignore save files
*.bak
*~