@import "polices.css";
body {
	background-image:url('../images/bg.png');
	background-position: top;
	/*background-repeat:repeat-y;*/
	font-family:Ubuntu, Arial, sans-serif;
	/*height: 4000px;*/
}
#page-wra { width:1000px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; top:0; bottom:0; }
#header { background:none; }
#in_page { background-image:url('../images/in_page.png'); }
#sous_menu{
	/*background-image:url('../images/sous_menu.png');*/
	
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#0286c8),to(#006699)
	);
	background: -webkit-linear-gradient(
		top,
		#0286c8,
		#006699
	);
	background: -moz-linear-gradient(
		top,
		#0286c8,
		#006699
	);
	background: -o-linear-gradient(
		top,
		#0286c8,
		#006699
	);
	background: linear-gradient(
		top,
		#0286c8,
		#006699
	);
	
	width: 1000px;
	height:29px;
}
#main-menu, #sous_menu, #main .section h1{
	font-family: 'LaneB', Arial, sans-serif;
}
#main-menu-links a, #secondary-menu-links a{
	color: #fff;
}
#main-menu-links a:hover, #secondary-menu-links a:hover{
	color: #acf;
}

.navigation { padding-top:5px; }
#footer-wrapper { background-image:url('../images/footer.png'); height:112px; }
#in_in { padding:10px; }
/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
}
#main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0 0px;
}
#main-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 0px;
  margin: 0 0px;
}
#main-menu-links .active{
	background: #0284c4;
}
#main-menu-links a {
  float: left; /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;

}
#main-menu-links a:hover,
#main-menu-links a:focus {
	background: #1395d5;
	text-shadow: 1px 1px 1px #000;
}
#main-menu-links a:active {
  background: #fff;
}
#main-menu-links li a.active {
  border-bottom: none;
}
.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
  background: #f0f0f0;
  background: rgba(240, 240, 240, 1.0);
}


#secondary-menu-links a {
	text-shadow: 1px 1px 4px #000, -1px -1px 4px rgba(255,255,255,0.5);
	text-decoration: none;
}
#secondary-menu-links a:focus,
#secondary-menu-links a:hover {
	text-shadow: 1px 1px 4px #333, -1px -1px 4px rgba(255,255,255,0.5);
	text-decoration: none;
}

#secondary-menu-links a:active {
	color:#8ad;
	text-shadow: -1px -1px 4px #333, 1px 1px 4px rgba(255,255,255,0.5);
}

#main .section{
	background: #eaeaea;
	padding: 5px;
	margin: 10px;
}

#main .section h1{
	text-shadow: 1px 1px 4px #000, -1px -1px 4px rgba(255,255,255,0.5);
	margin: -5px -5px 0px -5px;
	font-size: 36px;
	padding: 2px 5px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#006aea),to(#00669a)
	);
	background: -webkit-linear-gradient(
		top,
		#006aea,
		#00669a
	);
	background: -moz-linear-gradient(
		top,
		#006aea,
		#00669a
	);
	background: -o-linear-gradient(
		top,
		#006aea,
		#00669a
	);
	background: linear-gradient(
		top,
		#006aea,
		#00669a
	);
	
}
#main{
	margin: 0px;
}
#sidebar-first,
#sidebar-second {
	margin: 0px;
}

.one-sidebar #content div{
	display: inline-block;
}
.one-sidebar #content h2, .one-sidebar #content ul{
	display: inline-block;
}
.element-invisible{
	display: none;
}

#in_in{
	margin: 0px;
	padding: 0px;
}
#sidebar-first .section{
	margin: 0px 0px 5px 0px;
}

#search-block-form .form-text{
	border-radius: 1em 0px 0px 1em;
	border: none;
}

#search-block-form .form-submit{
	border-radius: 0px 1em 1em 0px;
	background: #006699;
	color: #fff;
	border: none;
}